<nav class="navbar-fixed-top red" actor="navigation">
  <div class="nav-wrapper">
    <a ng-href="#/{{actor}}" class="brand-logo">PolyAbsence</a>
    <ul class="right hide-on-med-and-down" ng-show="showMenu">
      <li ng-class="{active:isActive('#/{{actor}}')}"><a ng-href="#/{{actor}}">Accueil</a></li>
      <li ng-class="{active:isActive('/page1')}"><a href="badges.html">Components</a></li>
      <li ng-class="{active:isActive('/page2')}"><a href="collapsible.html">Javascript</a></li>
      <li ng-class="{active:isActive('/page3')}"><a href="mobile.html">Mobile</a></li>
      <li><a ng-click="logout()">Déconnecter</a></li>
    </ul>
    <ul class="side-nav" id="slide-out" ng-show="showMenu">
      <li ng-class="{active:isActive('#/{{actor}}')}"><a ng-href="#/{{actor}}">Accueil</a></li>
      <li ng-class="{active:isActive('/page1')}"><a href="badges.html">Components</a></li>
      <li ng-class="{active:isActive('/page2')}"><a href="collapsible.html">Javascript</a></li>
      <li ng-class="{active:isActive('/page3')}"><a href="mobile.html">Mobile</a></li>
      <li><a ng-click="logout()">Déconnecter</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse left" ng-show="showMenu"><i class="material-icons">menu</i></a>
  </div>
</nav>
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav({
    menuWidth: 150, // Default is 240
    edge: 'left'
  });
  $(".dropdown-button").dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>
