<div class="page-header">
  <h3>Liste des étudiants</h3>
</div>
<table class="highlight centered responsive-table" ng-controller="StudentCtrl">
  <thead>
    <tr>
        <th data-field="idUtilisateur">Id</th>
        <th data-field="nom">Nom</th>
        <th data-field="prénom">Prénom</th>
        <th data-field="sex">Sexe</th>
        <th data-field="email">Email</th>
        <th data-field="adresse">Adresse</th>
        <th data-field="dateNaissance">Date de naissance</th>
        <th data-field="group">Groupe</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students">
      <td><a href="#/admin/students/{{student.id_Student}}">{{student.id_Student}}</a></td>
      <td>{{student.name}}</td>
      <td>{{student.nickname}}</td>
      <td>{{student.sex}}</td>
      <td>{{student.email}}</td>
      <td>{{student.address}}</td>
      <td>{{student.birthday|date:'dd/MM/yyyy'}}</td>
      <td>{{student.group}}</td>
    </tr>
  </tbody>
</table>
<div class="col s6 offset-s6" style ="margin-top: 25px;">
  <a class="btn-floating btn-large waves-effect waves-light red" onclick='Materialize.toast("Utilisateur en cours de création ...", 2000)'><i class="material-icons">add</i></a>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <a class="btn-floating btn-large red" onclick='Materialize.toast("Utilisateur en cours de suppression ...", 2000)'>
    <i class="material-icons">delete</i>
  </a>
</div>
