<div class="page-header">
  <h3>Liste des cours</h3>
</div>
<table class="highlight centered responsive-table" ng-controller="CourseCtrl">
  <thead>
    <tr>
        <th data-field="idUtilisateur">Id</th>
        <th data-field="nom">Nom</th>
        <th data-field="prénom">Prénom</th>
        <th data-field="sex">Sexe</th>
        <th data-field="email">Email</th>
        <th data-field="adresse">Adresse</th>
        <th data-field="dateNaissance">Date de naissance</th>
        <th data-field="group">Groupe</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="course in courses">
      <td><a ng-click="">{{student.id_Student}}</a></td>
      <td>{{course.name}}</td>
      <td>{{course.nickname}}</td>
      <td>{{course.sex}}</td>
      <td>{{course.email}}</td>
      <td>{{course.address}}</td>
      <td>{{course.birthday|date:'dd/MM/yyyy'}}</td>
      <td>{{course.group}}</td>
    </tr>
  </tbody>
</table>
<!--<div class="col s6 offset-s6" style ="margin-top: 25px;">
  <a class="btn-floating btn-large waves-effect waves-light red" onclick='Materialize.toast("Utilisateur en cours de création ...", 2000)'><i class="material-icons">add</i></a>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <a class="btn-floating btn-large red" onclick='Materialize.toast("Utilisateur en cours de suppression ...", 2000)'>
    <i class="material-icons">delete</i>
  </a>
</div>-->
