<div class="card" ng-controller="StudentCtrl">
  {{getStudent()}}
  <div class="card-header">
  </div>
  <div class="card-content">
    <h3>{{student.nickname}} {{student.name}}</h3>
    <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
    <ul>
      <li>{{student.id_Student}}></li>
      <li>{{student.name}}</li>
      <li>{{student.nickname}}</li>
      <li>{{student.sex}}</li>
      <li>{{student.email}}</li>
      <li>{{student.address}}</li>
      <li>{{student.birthday|date:'dd/MM/yyyy'}}</li>
      <li>{{student.group}}</li>
    </ul>
  </div>
  <div class="card-footer">
    <ul>
      <li>
        <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
      </li>
      <li>
        <a class="btn-floating btn-large red" onclick='Materialize.toast("Utilisateur en cours de suppression ...", 2000)'><i class="material-icons">delete</i></a>
      </li>
    </ul>
  </div>
</div>
